.block {
    position: relative;
    border: 2px solid grey;
    box-sizing: border-box;
}

.empty {
    background: black;
}

.filled {
    background: brown;
}

.block-row {

}

.color-1 {
    background: white;
}

.color-2 {
    background: red;
}

.color-3 {
    background: blue;
}