.block {
    position: relative;
    border: none;
    box-sizing: border-box;
}

.empty {
    background: black;
}

.filled {
    border: 4px solid grey;
}

.block-row {

}

.color-1 {
    background: white;
}

.color-2 {
    background: red;
}

.color-3 {
    background: blue;
}

.default-filled {
    background: pink;
}