.tetris-board {
    position: absolute;
    border: 5px solid aqua;
    box-sizing: border-box;
    border-collapse: collapse;
}

.score {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 5px solid aqua;
    border-left: none;
    color: white;
    font-size: 50;
} 

.next-piece {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 5px solid aqua;
    border-left: none;
} 

.statistics {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 5px solid aqua;
    border-left: none;
    font-size: 100;
    > div {
        display: inline-block;
    }
    td {
        color: white;
        font-size: 40px;
    }
}

.line-count {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 5px solid aqua;
    border-bottom: none;
    font-size: 50;
    color: white;
}
